
name: Frontend(DemoSyp) Docker (for LeoCloud)

env:
  ContainerName: demosypui                       # Name of he (docker-)container
  SolutionPath: Frontend                         # sub-directory of sln file location
  CloudNameSpace: student-h-aitenbichler
  AppPrefix: demosypui

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive
     
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          #context: "{{defaultContext}}:Src"
          context: ./Frontend
          file: ./Frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.ContainerName}}:latest
          build-args: APP_PATH=demosypui
          
      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: delete --ignore-not-found -n ${{ env.CloudNameSpace }} deployment ${{ env.AppPrefix }}

      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: delete --ignore-not-found -n ${{ env.CloudNameSpace }} service ${{ env.AppPrefix }}-svc

      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: delete --ignore-not-found -n ${{ env.CloudNameSpace }} ingress ${{ env.AppPrefix }}-ingress

      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: delete --ignore-not-found -n ${{ env.CloudNameSpace }} pod -l app=${{ env.AppPrefix }}

      - uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: create -f ./LeoCloud/frontend-leocloud-${{ env.CloudNameSpace}}-${{ env.AppPrefix}}.yaml

          
